@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
background: #DBDBDB;
overflow-x: hidden;
}
.navbar{
    background: #535569;
    border: none;
    font-family: 'Varela Round' , sans-serif;
}

.mainimage{
    border-radius: 0%;
}
.mainimage img{
    border-radius: 0%;
    overflow: hidden;
    width: fit-content;
}
.brand{
    font-family: 'Merriweather', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -20px;
}
.image{
    display: flex;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
    margin: 5px 5px;
    border-radius: 5%;
}
img{
    display: inline-block;
    margin: 5px 5px;
    padding-right: 10px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}
.article{
    display: flex;
    justify-content:space-evenly;
    align-items: stretch;
    flex-direction: row;
    padding-top: 40px;
}
.article .one{
    display: inline-block;
    width: 350px;
    margin: 40px 40px;
    text-align:center;
    padding:20px 20px;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    cursor:pointer;
    transition: transform 0.5s;
}
.menu ul li a:hover{
    background: #373739;
    border-radius: 3%;
}
.menu ul li a:active{
    color: #373739;
}
/* .one h1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */
.one h1 i{
    padding-right: 15px;
}
.one p{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}
.one:hover{
    transform: translateY(-10px);
}
.footer p{
    margin-left: 20px;
    margin-right: 20px;
}
.right{
    float: right;
}
.left{
    float: left;
}
.checkbtn{
    float: right;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
/* about */
.main{
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
}
.about{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}
.content-1{
    padding-left: 10px;
    padding-right: 10px;
}
.content-1 p{
    width: 500px;
    text-align: justify;
}
h1{
    margin-top: 8px;
    margin-left: 20px;
}
.footer{
    background: #CDBBA7;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: -80px;
}
.flexing{
    display: flex;
}
.footer .logo{
    float: center;
    margin-top: 0px;
}

/* gallery */
/* .gallery{
   background-image: linear-gradient(130deg,#F7FAFC 3%, #DFEBF7 100%);;
} */
.sightseeing{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.heading{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 10%;
    padding-top: 20px;
    font-size: x-large;
    font-weight: bolder;
}
/* Contact us:  */
.whole{
    display: flex;
    justify-content: space-evenly;
}
.contact{
    width: 600px;
    height: 600px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
.upper .icon{
    display: inline;
    padding: 5px 5px 5px 5px;
    font-size: x-large;
}
fieldset{
    margin: 2px 0px;
    border-radius: 5px;
}
legend{
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
.form{
    margin: 10px 10px;
}
.send{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 20px;
}
.send button{
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bolder;
}
label{
  width: 180px;
  clear: left;
  text-align: left;
  padding-right: 10px;
  margin: 8px 8px 8px 8px;
}
input, label{
    float: left;
}
.icons{
    display: flex;
    justify-content: space-evenly;
}
.contact p{
    padding: 5px 5px 5px 5px ;
    font-size: x-large;
}

/* login */
.login{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.submit{
    text-align: center;
    margin-top: 40px;
}
.submit button{
    text-align: center;
    font-weight: bolder;
    width: 100px;
    height: 30px;
}
.logo{
    text-align: center;
    margin-top: 80px;
}
/* services */
.service{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin: 8px 8px 8px 8px;
}
.row-1{
    display: flex;
    margin-top: 8px;
}
.row-2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}
.row-3{
    display: flex;
    margin-top: 8px;
}
.row-4{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 8px;
}
.description{
    margin: 8px 8px 8px 8px;
    font-size: 20px;
    word-spacing: 10px;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
/* responsiveness */
.check{
    display: none;
}
@media (max-width: 1100px) {
    .navbar{
        height: max-content;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .check{
        position: relative;
        display: flex;
        align-content: space-between;
        color: #f2f2f2;
    }
    .article{
        display: block;
    }
    .article .one{
        width: fit-content;
    }
    .flexing{
        flex-direction: column;
    }
    .left{
        margin-bottom: 10px;
    }
    .right{
        margin-top: 10px;
    }
    .div .p{
        display: block;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    menu ul li a{
        display: block;
        position: absolute;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8px 8px;
    }
}
@media (max-width: 1000px) {
    .whole{
        display: flex;
        flex-direction: column;
    }
    .whole .reservation{
        margin-top: -20%;
    }
}
@media (max-width: 800px) {
    .sightseeing{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 900px) {
    .service{
        margin-left: 10px;
        margin-right: 10px;
    }
    .row-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row-4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}